body {
  font-family: 'Simonetta', cursive;
  background: #dae6e5 !important;
}

h1 {
  text-align: center;
  font-family: 'Simonetta', cursive;
}

header p {
  text-align: center;
  font-family: 'Simonetta', cursive;
  font-size: 12;
}

header {
  margin-top: 25px;
}

Table {
  font-family: 'Simonetta', cursive;
  text-decoration: none;
  font-weight: 100;
}

Form {
  font-family: 'Simonetta', cursive;
  text-decoration: none;
  font-weight: 100;
}
